.title {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container .box {
  min-height: 400px;
  min-width: 450px;
  box-shadow: 0px 0px 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 5rem;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 1.2rem;
}

input {
  width: 20rem;
  padding: 0.25rem;
  margin-bottom: 50px;
  text-align: center;
}
select {
  width: 21rem;
  padding: 0.25rem;
  text-align: center;
}
.container .box .title {
  text-align: left;
  margin: 15px 0px 10px;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  input {
    width: 10rem;
    padding: 0.25rem;
    margin-bottom: 50px;
    text-align: center;
  }
  select {
    width: 11rem;
    padding: 0.25rem;
    text-align: center;
  }
}


